.booking__modal {
  position: fixed;
  top: 5%;
  left: 50%;
  padding: 91px 10px 0;
  box-sizing: border-box;
  transform: translateX(-400%);
  z-index: 1002;

  max-width: 1440px;
  width: 100%;

  background-color: #fff;
  transition: 0.7s ease;

  .modal__wrap {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .logo__item {
    display: block;
  }

  .title {
    margin: 0 0 15px;
    @include forum (50px, 400, 53px);
    text-transform: uppercase;
    color: $color-gold;
  }

  .subtitle {
    position: relative;
    padding-bottom: 10px;
    margin: 0 0 62px;
    @include roboto (18px, 400, 21px);
    color: $color-red;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 400px;
      width: 100%;
      height: 3px;
      background-color: $color-red;
    }
  }

  .input__container {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
  }

  ::placeholder {
    @include roboto (18px, 400, 20px);
    color: $color-dark;
  }

  .input {
    display: block;
    width: 400px;
    height: 45px;
    padding-left: 45px;

    outline: none;
    border: 1px solid $color-dark;
    box-sizing: border-box;
  }

  .date,
  .time {
    max-width: 190px;
    background: url('./common/img/svg/arrow-date-time.svg') no-repeat 92.5% 50%;
    background-size: 19px 17px;
  }

  .logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3.5%;
  }

  .time__logo {
    left: 56%;
    width: 17px;
    height: 16px;
  }

  .select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background: url('./common/img/svg/arrow-date-time.svg') no-repeat 96.5% 50%;
    background-size: 19px 17px;

    @include roboto (18px, 400, 20px);
    color: $color-dark;
  }

  option {
    @include roboto (18px, 300, 20px);

    &:nth-child(3) {
      background-color: #E7E7E7;
    }
  }

  .ticket__form {
    padding: 10px 15px 15px;
    border: 1px solid $color-dark;
  }

  .entry__title {
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 15px;

    @include forum (18px, 400, 20px);
    text-transform: capitalize;
    color: $color-gold;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;

      max-width: 370px;
      width: 100%;
      height: 2px;
      background-color: $color-red;
    }
  }

  .inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &:nth-child(2) {
      margin-bottom: 18px;
    }
  }

  .type {
    @include roboto (18px, 400, 20px);
    margin: 0;
  }

  .count__input {
    width: 35px;
    height: 25px;
    margin-right: 35px;
    padding: 0;
    box-sizing: border-box;

    text-align: center;
    @include roboto (18px, 400, 20px);
    border: 1px solid $color-dark;
    outline: none;
  }

  .minus,
  .plus {
    position: absolute;
    width: 35px;
    height: 25px;
    padding: 0;
    box-sizing: border-box;

    @include roboto (23px, 400, 23px);
    cursor: pointer;
    color: #fff;
    background-color: $color-dark;
    border: none;
  }

  .plus {
    right: 0;
  }

  .minus {
    right: 19%;
  }

  .right__container {
    position: relative;
    max-width: 530px;
    width: 100%;
    padding: 25px 30px;
    box-sizing: border-box;
    border: 1px solid $color-dark;
  }

  .overview {
    @include roboto (32px, 500, 38px);
    margin: 0 0 2px;
  }

  .overview__subtitle {
    @include roboto (22px, 500, 26px);
    color: $color-red;
    margin: 0 0 10px;
  }

  .info__logo {
    width: 18px;
    height: 15px;
  }

  .ticket__pic {
    position: absolute;
    top: 25px;
    right: 30px;
  }

  .info {
    margin-bottom: 8px;
  }

  .overview__type {
    margin-bottom: 21px;
  }

  .ticket {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  .ticket__wrap {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .amount {
    width: 32px;
    height: 20px;
    text-align: center;
    margin: 0;

    @include roboto (18px, 400, 19px);
    background-color: $color-dark;
    color: #A4A4A3;
    border-radius: 5px;
  }

  .cost {
    @include roboto (22px, 400, 27px);
    margin: 0;
  }

  .senior {
    position: relative;
    padding-bottom: 9px;
    margin-bottom: 10px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;

      max-width: 470px;
      width: 100%;
      height: 2px;
      background-color: $color-red;
    }
  }

  .total__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .total,
  .total__cost {
    margin: 0;
    @include roboto (32px, 400, 38px);
    color: $color-dark;
  }

  .total__cost {
    font-weight: 500;
  }

  .card {
    position: relative;
    max-width: 360px;
    width: 100%;
    height: 211px;
    z-index: 2;
    padding: 15px 20px;
    margin-bottom: 56px;
    box-sizing: border-box;

    background-color: #BCBCBC;
    border-radius: 3px;
  }

  .label__name {
    display: block;
    margin: 0 0 5px;
    @include roboto (12px, 400, 14px);
    color: #161615;
  }

  .card__input {
    max-width: 215px;
    width: 100%;
    height: 35px;
    padding: 0 0 0 10px;
    margin: 0 11px 10px 0;
    box-sizing: border-box;

    @include roboto (12px, 400, 15px);
    color: #161615;

    outline: none;
    border: none;
  }


  .month,
  .year {
    width: 100px;
  }

  .name__input {
    margin-bottom: 0;
    max-width: 320px;
  }

  .visa {
    position: absolute;
    top: 34px;
    right: 20px;
  }

  .mastercard {
    position: absolute;
    top: 65px;
    right: 20px;
  }

  .card__reverse {
    position: absolute;
    bottom: 97px;
    right: 30px;
    max-width: 360px;
    width: 100%;
    height: 211px;
    z-index: 1;
    padding: 25px 20px 15px;
    box-sizing: border-box;

    background-color: #939393;
    border-radius: 3px;
  }

  .card__line {
    width: 100%;
    height: 45px;
    padding-right: 20px;
    margin-bottom: 15px;
    background-color: #161615;
  }

  .card__info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .cvc {
    text-align: center;
  }

  .cvc__input {
    max-width: 75px;
    margin: 0 0 6px;
  }

  .text {
    margin: 0 10px;
    @include roboto (10px, 400, 12px);
    color: #161615;
  }

  .book__btn {
    position: relative;
    display: block;
    padding: 13px 85px 10px;
    margin-left: auto;

    background-color: $color-red;
    border: none;
    overflow: hidden;

    color: #FFf;
    @include roboto (22px, 400, 24px);
    cursor: pointer;
    transition: 0.3s ease;
  }

  .ripple {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    transform: scale(0);

    animation: button-circle 1s ease forwards;
  }

  @keyframes button-circle {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }

  .close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background: #BCBCBC;
    border-radius: 20px;
  }
}

.modal__active {
  transform: translateX(-50%);
}