.explore {
  background-color: $color-dark;
  margin-bottom: 75px;
  padding-top: 75px;

  .explore__wrap {
    position: relative;
    display: flex;
    gap: 60px;
  }

  .section__title {
    color: #fff;

    &:after {
      max-width: 660px;
      width: 100%;
    }
  }

  .explore__info {
    max-width: 660px;
  }

  .text {
    @include roboto (22px, 300, 38.5px);
    margin: 0 0 25px;
    color: #fff;
    letter-spacing: 0.2px;

    &:last-child {
      padding-bottom: 314px;
      margin: 0;
    }
  }

  .yellow {
    color: #CAAA7D;
  }

  .slider__comparison {
    position: absolute;
    right: 0;
    top: 15px;
  }

  .drag__line {
    position: absolute;
    left: 61%;
    width: 5px;
    height: 700px;
    pointer-events: none;

    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 330px;
      background-color: #fff;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }
  }

  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 39px;
    height: 39px;
    border: 5px solid #fff;
    border-radius: 50%;
    cursor: pointer;
  }

  .slider__change {
    position: relative;
    width: 720px;

    outline: none;
    background: none;
    -webkit-appearance: none;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
    width: 5px;
    height: 700px;
    cursor: pointer;
  }

  .slider__imgs {
    position: relative;
    max-width: 720px;
    max-height: 700px;
    width: 100%;
  }

  .slider__before {
    position: absolute;
    top: 15px;
    background: url('./common/img/jpg/slider-pic-before.jpg') no-repeat;
    width: 61%;
    height: 100%;
  }

  .slider__after {
    background: url('./common/img/jpg/slider-pic-after.jpg') no-repeat;
    margin-top: 15px;
    width: 100%;
    height: 100%;
  }
}