.footer {
  position: relative;
  background-color: $color-dark;
  padding: 84px 0 52px 0;
  color: #FFF;

  .footer__wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 103px;
  }

  .section__left {
    display: flex;
    gap: 140px;
  }

  .logo {
    align-self: flex-start;
  }

  .nav {
    display: flex;
    gap: 173px;
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .item {
    margin-bottom: 25px;

    &:nth-child(3n) {
      margin-bottom: 0;
    }
  }

  .item__link {
    @include roboto (22px, 100, 26px);
    letter-spacing: 2px;
    color: #FFF;
    transition: 0.3s ease;

    &:hover {
      color: $color-gold;
    }

    &:active {
      color: #7E6C51;
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
  }

  .footer__item {
    margin: 0;
    @include roboto (22px, 100, 22px);
    letter-spacing: 2px;
    color: #FFF;

    transition: 0.3s ease;

    &:hover:not(:first-child) {
      color: $color-gold;
    }

    &:active:not(:first-child) {
      color: #7E6C51;
    }
  }

  .line {
    position: absolute;
    bottom: 124px;
    background-color: #666;
    width: 100%;
    height: 3px;
  }
}