.header {
  color: #FFFFFF;
  background-color: $color-dark;

  .header__wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 59px 0;
  }

  .list {
    display: flex;
    align-items: center;
    gap: 55px;

    padding: 0;
    margin: 0;

    list-style: none;
  }

  .item__link {
    color: #FFFFFF;
    @include roboto (22px, 100, 25px);
    letter-spacing: 2px;

    transition: 0.3s ease;

    &:hover {
      color: $color-gold;
    }

    &:active {
      color: #7E6C51;
    }
  }

  .burger__menu {
    position: absolute;
    top: 56px;
    right: 20px;
    height: 18px;
    width: 32px;
    cursor: pointer;
    opacity: 0;
  }

  .line {
    display: block;
    position: absolute;
    transform: translateY(-50%);
    width: 32px;
    height: 2px;
    background-color: #fff;
    transition: 0.3s ease;
  }

  .line__first {
    top: 0;
  }

  .line__second {
    top: 50%;
    transform: translateY(-100%);
  }

  .line__third {
    bottom: 0;
  }

  .burger__close {
    .line__first {
      top: 50%;
      transform: rotate(45deg);
    }

    .line__second {
      display: none;
    }

    .line__third {
      top: 50%;
      transform: rotate(-45deg);
    }
  }
}