@media screen and (max-width: 1024px) {
  .header {
    .header__wrap {
      @include rubber (padding-top, 39.5, 49.5, 768, 1024);
      @include rubber (padding-bottom, 39.5, 49.5, 768, 1024);
    }

    .list {
      position: absolute;
      left: 0;
      top: 129px;
      padding: 35px 120px 287px 34px;
      flex-direction: column;
      gap: 25px;
      background-color: $color-dark;
      align-items: flex-start;
      z-index: 1000;
      transition: 0.3s ease;
      transform: translateX(-300%);
    }

    .list__active {
      transform: translateX(0);
    }


    .item__link {
      display: block;
      width: 122px;
      position: relative;
      @include roboto (20px, 300, 23px);

      &:after {
        position: absolute;
        content: '';
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-image: url('./common/img/svg/arrow-header-nav.svg');
        width: 12px;
        height: 12px;
      }
    }

    .burger__menu {
      opacity: 1;
    }
  }

  .welcome {
    @include rubber (margin-bottom, 38, 60, 768, 1024);

    .welcome__info {
      @include rubber (padding-top, 0, 50, 768, 1024);
    }

    .welcome__title {
      @include rubber (font-size, 40, 50, 768, 1024);
      @include rubber (line-height, 57, 90, 768, 1024);
    }

    .subtitle {
      @include rubber (font-size, 20, 24, 768, 1024);
      @include rubber (line-height, 20, 28, 768, 1024);
    }

    .slick-dots button {
      @include rubber (width, 12, 12, 768, 1024);
      @include rubber (height, 12, 12, 768, 1024);
    }

    .slider__menu {
      @include rubber (padding-left, 150, 224, 768, 1024);
      @include rubber (padding-right, 50, 75, 768, 1024);
    }
  }

  .section__title {
    @include rubber (font-size, 40, 50, 768, 1024);
    @include rubber (line-height, 60, 75, 768, 1024);
    @include rubber (margin-bottom, 40, 60, 768, 1024);
    @include rubber (padding-bottom, 22, 20, 768, 1024);
  }

  .visiting {
    @include rubber (margin-bottom, 80, 60, 768, 1024);

    .cards {
      @include rubber (grid-row-gap, 40, 60, 768, 1024);
      @include rubber (grid-column-gap, 56, 108, 768, 1024);
      grid-template-columns: repeat(auto-fit, calc(280px + (330 - 280) * ((100vw - 768px) / (1024 - 768))));
    }

    .card__title {
      @include rubber (font-size, 22, 28, 768, 1024);
      @include rubber (line-height, 24, 31, 768, 1024);
      @include rubber (letter-spacing, 3, 3, 768, 1024);

      &:after {
        @include rubber (width, 150, 150, 768, 1024);
      }
    }

    .virtual {
      @include rubber (font-size, 18, 20, 768, 1024);
      @include rubber (line-height, 21, 23, 768, 1024);

      &:nth-child(2n) {
        @include rubber (font-size, 16, 18, 768, 1024);
        @include rubber (line-height, 19, 21, 768, 1024);
      }
    }
  }

  .explore {
    @include rubber (padding-top, 40, 60, 768, 1024);
    @include rubber (padding-bottom, 55, 75, 1024, 1440);
    @include rubber (margin-bottom, 60, 75, 1024, 1440);

    .slider__wrap {
      @include rubber (max-width, 728, 720, 768, 1024);
      @include rubber (max-height, 705, 700, 768, 1024);
    }
  }

  .tickets {
    @include rubber (margin-bottom, 60, 75, 1024, 1440);

    .tickets__container {
      grid-template-columns: 79% 21%;
    }

    .tickets__pic {
      @include rubber (width, 700, 720, 1024, 1440);
      @include rubber (height, 440, 550, 1024, 1440);
    }

    .amount__wrap {
      max-width: 100%;
    }

    .counter__item {
      @include rubber (width, 175, 150, 1024, 1440);
    }

    .amount__subtitle {
      text-align: start;
      margin-bottom: 32px;
    }

    .type {
      display: none;
    }

    .amount__name {
      margin-bottom: 10px;
    }

    .senior__name {
      margin-top: 29px;
    }

    .second {
      margin-bottom: 25px;
    }

    .total {
      margin-bottom: 69px;
    }

    .minus__senior,
    .plus__senior {
      top: 40px;
    }
  }
}