@media screen and (max-width: 1500px) {
  .video {
    .iframe__slider .slick-slide {
      width: calc(300px + (452 - 300) * ((100vw - 1024px) / (1500 - 1024)));
    }

    .iframe {
      height: calc(170px + (254 - 170) * ((100vw - 1024px) / (1500 - 1024)));
    }
  }
}

@media screen and (max-width: 1440px) {
  .welcome {
    margin-bottom: calc(60px + (75 - 60) * ((100vw - 1024px) / (1440 - 1024)));

    .welcome__info {
      padding-top: calc(50px + (150 - 50) * ((100vw - 1024px) / (1440 - 1024)));
    }

    .title {
      font-size: calc(50px + (80 - 50) * ((100vw - 1024px) / (1440 - 1024)));
    }

    .subtitle {
      font-size: calc(24px + (28 - 24) * ((100vw - 1024px) / (1440 - 1024)));
      line-height: calc(28px + (33 - 28) * ((100vw - 1024px) / (1440 - 1024)));
      margin-bottom: 50px;
    }

    .button__link {
      font-size: calc(20px + (22 - 20) * ((100vw - 1024px) / (1440 - 1024)));
      padding: calc(17px + (24 - 17) * ((100vw - 1024px) / (1440 - 1024))) calc(45px + (68 - 45) * ((100vw - 1024px) / (1440 - 1024)));
      margin-bottom: calc(192px + (272 - 192) * ((100vw - 1024px) / (1440 - 1024)));
    }

    .slider__wrap {
      max-width: calc(700px + (1000 - 700) * ((100vw - 1024px) / (1440 - 1024)));
    }

    .slick-slide {
      width: calc(700px + (1000 - 700) * ((100vw - 1024px) / (1440 - 1024)));
      height: calc(525px + (750 - 525) * ((100vw - 1024px) / (1440 - 1024)));
    }

    .slick-dots button {
      width: calc(12px + (16 - 12) * ((100vw - 1024px) / (1440 - 1024)));
      height: calc(12px + (16 - 12) * ((100vw - 1024px) / (1440 - 1024)));
    }

    .shadow {
      height: calc(525px + (750 - 525) * ((100vw - 1024px) / (1440 - 1024)));
    }

    .slider__menu {
      padding-left: calc(224px + (75 - 224) * ((100vw - 1024px) / (1440 - 1024)));
      gap: calc(43px + (57 - 43) * ((100vw - 1024px) / (1440 - 1024)));
    }
  }

  .section__title {
    font-size: calc(50px + (80 - 50) * ((100vw - 1024px) / (1440 - 1024)));
    line-height: calc(75px + (90 - 75) * ((100vw - 1024px) / (1440 - 1024)));
    padding-bottom: calc(20px + (25 - 20) * ((100vw - 1024px) / (1440 - 1024)));
    margin-bottom: calc(60px + (75 - 60) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .visiting {
    margin-bottom: calc(60px + (75 - 60) * ((100vw - 1024px) / (1440 - 1024)));

    .cards {
      grid-template-columns: repeat(auto-fit, calc(330px + (440 - 330) * ((100vw - 1024px) / (1440 - 1024))));
      grid-row-gap: calc(60px + (72 - 60) * ((100vw - 1024px) / (1440 - 1024)));
      grid-column-gap: calc(108px + (60 - 108) * ((100vw - 1024px) / (1440 - 1024)));
    }

    .card__img {
      margin-bottom: 24px;
    }

    .card__title {
      font-size: calc(28px + (32 - 28) * ((100vw - 1024px) / (1440 - 1024)));
      line-height: calc(31px + (35 - 31) * ((100vw - 1024px) / (1440 - 1024)));
      letter-spacing: calc(3px + (5 - 3) * ((100vw - 1024px) / (1440 - 1024)));

      &:after {
        width: calc(150px + (300 - 150) * ((100vw - 1024px) / (1440 - 1024)));
      }
    }

    .virtual {
      font-size: calc(20px + (22 - 20) * ((100vw - 1024px) / (1440 - 1024)));
      line-height: calc(23px + (26 - 23) * ((100vw - 1024px) / (1440 - 1024)));

      &:nth-child(2n) {
        font-size: calc(16px + (18 - 16) * ((100vw - 1024px) / (1440 - 1024)));
        line-height: calc(19px + (21 - 19) * ((100vw - 1024px) / (1440 - 1024)));
      }
    }
  }

  .explore {
    padding-top: calc(60px + (75 - 60) * ((100vw - 1024px) / (1440 - 1024)));
    padding-bottom: calc(60px + (75 - 60) * ((100vw - 1024px) / (1440 - 1024)));
    margin-bottom: calc(60px + (75 - 60) * ((100vw - 1024px) / (1440 - 1024)));

    .explore__wrap {
      padding-bottom: 700px;
    }

    .explore__info {
      max-width: 100%;
    }

    .text {
      font-size: calc(20px + (22 - 20) * ((100vw - 1024px) / (1440 - 1024)));
      margin-bottom: 0;

      &:nth-child(2) {
        margin-bottom: 62px;
      }
    }

    .third__text {
      display: none;
    }

    .slider__wrap {
      top: 100%;
      left: 50%;
      transform: translate(-50%, -100%);
    }
  }

  .video {
    margin-bottom: calc(53px + (67 - 53) * ((100vw - 1024px) / (1440 - 1024)));

    .video__info {
      margin-bottom: calc(36px + (75 - 36) * ((100vw - 1024px) / (1440 - 1024)));
    }

    .big__play {
      width: calc(152px + (220 - 152) * ((100vw - 1024px) / (1440 - 1024)));
      height: calc(152px + (220 - 152) * ((100vw - 1024px) / (1440 - 1024)));
      background-size: cover;
    }

    .video__controls {
      height: calc(61px + (85 - 61) * ((100vw - 1024px) / (1440 - 1024)));
      justify-content: space-evenly;
    }

    .progress__line {
      width: calc(564px + (929 - 564) * ((100vw - 1024px) / (1440 - 1024)));
    }

    .volume__bar {
      width: calc(143px + (155 - 143) * ((100vw - 1024px) / (1440 - 1024)));
    }

    input[type=range]::-webkit-slider-runnable-track {
      height: 5px;
    }

    input[type=range]::-webkit-slider-thumb {
      width: 13px;
      height: 13px;
    }

    .fullscreen {
      width: calc(26px + (36 - 26) * ((100vw - 1024px) / (1440 - 1024)));
      height: calc(26px + (36 - 26) * ((100vw - 1024px) / (1440 - 1024)));
      background-size: cover;
      margin-right: 7px;
    }

    .volume {
      width: calc(26px + (36 - 26) * ((100vw - 1024px) / (1440 - 1024)));
      height: calc(20px + (30 - 20) * ((100vw - 1024px) / (1440 - 1024)));
      background-size: cover;
    }
  }

  .gallery {
    padding-top: calc(60px + (75 - 60) * ((100vw - 1024px) / (1440 - 1024)));
    margin-bottom: calc(60px + (75 - 60) * ((100vw - 1024px) / (1440 - 1024)));

    .gallery__container {
      height: calc(1265px + (1958 - 1265) * ((100vw - 1024px) / (1440 - 1024)));
    }

    .img__container {
      height: calc(1996px + (2970 - 1996) * ((100vw - 1024px) / (1440 - 1024)));
      column-gap: 32px;
    }

    .section__title {
      margin-bottom: calc(60px + (75 - 60) * ((100vw - 1024px) / (1440 - 1024)));
    }
  }

  .tickets {
    margin-bottom: calc(60px + (75 - 60) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .contacts {
    margin-bottom: calc(62px + (72 - 62) * ((100vw - 1024px) / (1440 - 1024)));

    #map {
      width: calc(694px + (960 - 694) * ((100vw - 1024px) / (1440 - 1024)));
      height: calc(454px + (620 - 454) * ((100vw - 1024px) / (1440 - 1024)));
    }

    .title {
      font-size: calc(24px + (28 - 24) * ((100vw - 1024px) / (1440 - 1024)));
      line-height: calc(29px + (33 - 29) * ((100vw - 1024px) / (1440 - 1024)));
      margin-bottom: 35px;
    }

    .contact {
      font-size: calc(20px + (22 - 20) * ((100vw - 1024px) / (1440 - 1024)));
      line-height: calc(23px + (26 - 23) * ((100vw - 1024px) / (1440 - 1024)));
      margin-bottom: 15px;
    }
  }

  .parallax {
    margin-bottom: calc(60px + (75 - 60) * ((100vw - 1024px) / (1440 - 1024)));
  }

  .footer {
    padding-top: calc(65px + (84 - 65) * ((100vw - 1024px) / (1440 - 1024)));

    .section__left {
      gap: calc(40px + (140 - 40) * ((100vw - 1024px) / (1440 - 1024)));
    }

    .nav {
      gap: calc(120px + (173 - 120) * ((100vw - 1024px) / (1440 - 1024)));
    }
  }

}

@media screen and (max-width: 1300px) {
  .video {
    .subtitle {
      display: none;
    }
  }
}

@media screen and (max-width: 1051px) {
  .tickets {
    .tickets__container {
      grid-template-columns: 79% 21%;
    }

    .tickets__pic {
      width: calc(700px + (720 - 700) * ((100vw - 1024px) / (1440 - 1024)));
      height: calc(440px + (550 - 440) * ((100vw - 1024px) / (1440 - 1024)));
    }

    .amount__wrap {
      max-width: 100%;
    }

    .counter__item {
      width: calc(175px + (150 - 175) * ((100vw - 1024px) / (1440 - 1024)));
    }

    .amount__subtitle {
      text-align: start;
      margin-bottom: 32px;
    }

    .type {
      display: none;
    }

    .amount__name {
      margin-bottom: 10px;
    }

    .senior__name {
      margin-top: 29px;
    }

    .second {
      margin-bottom: 25px;
    }

    .total {
      margin-bottom: 69px;
    }

    .minus__senior,
    .plus__senior {
      top: 40px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .header {
    .header__wrap {
      padding: 49.5px 0;
    }

    .list {
      position: absolute;
      left: 0;
      top: 129px;
      padding: 35px 120px 287px 55px;
      flex-direction: column;
      gap: 25px;
      background-color: $color-dark;
      align-items: flex-start;
      z-index: 1000;
      opacity: 0;
    }

    .item__link {
      position: relative;
      @include roboto (20px, 300, 23px);

      &:after {
        position: absolute;
        content: '';
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-image: url('./common/img/svg/arrow-header-nav.svg');
        width: 12px;
        height: 12px;
      }

      &:nth-child(3) {
        padding-right: 46px;
      }
    }

    .burger__menu {
      opacity: 1;
    }
  }


}