@media screen and (max-width: 1024px) {
  .header {
    .header__wrap {
      @include rubber (padding-top, 39.5, 49.5, 768, 1024);
      @include rubber (padding-bottom, 39.5, 49.5, 768, 1024);
    }

    .list {
      position: absolute;
      left: 0;
      top: 99%;
      padding: 35px 0 0 34px;
      @include rubber (padding-right, 45, 120, 768, 1024);
      box-sizing: border-box;
      flex-direction: column;
      gap: 25px;
      background-color: $color-dark;
      align-items: flex-start;
      z-index: 3;
      transform: translateX(-300%);
    }

    .list__active {
      transform: translateX(0);
    }

    .burger__item__link {
      display: block;
      width: 122px;
      position: relative;
      @include roboto (20px, 300, 23px);

      &:after {
        position: absolute;
        content: '';
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-image: url('./common/img/svg/arrow-header-nav.svg');
        width: 12px;
        height: 12px;
      }
    }

    .burger__menu {
      opacity: 1;
    }
  }

  .welcome {
    @include rubber (margin-bottom, 38, 60, 768, 1024);

    .welcome__info {
      @include rubber (padding-top, 0, 50, 768, 1024);
    }

    .welcome__title {
      @include rubber (font-size, 40, 50, 768, 1024);
      @include rubber (line-height, 57, 90, 768, 1024);
      margin-bottom: 27px;
    }

    .subtitle {
      @include rubber (font-size, 20, 24, 768, 1024);
      @include rubber (line-height, 20, 28, 768, 1024);
    }

    .slick-dots button {
      width: 12px;
      height: 12px;
    }

    .slider__menu {
      @include rubber (padding-left, 150, 224, 768, 1024);
      @include rubber (padding-right, 50, 75, 768, 1024);
    }
  }

  .section__title {
    @include rubber (font-size, 40, 50, 768, 1024);
    @include rubber (line-height, 60, 75, 768, 1024);
    @include rubber (margin-bottom, 40, 60, 768, 1024);
    @include rubber (padding-bottom, 22, 20, 768, 1024);
  }

  .visiting {
    @include rubber (margin-bottom, 80, 60, 768, 1024);

    .cards {
      @include rubber (grid-row-gap, 40, 60, 768, 1024);
      @include rubber (grid-column-gap, 56, 108, 768, 1024);
      grid-template-columns: repeat(auto-fit, calc(280px + (330 - 280) * ((100vw - 768px) / (1024 - 768))));
    }

    .card__title {
      @include rubber (font-size, 22, 28, 768, 1024);
      @include rubber (line-height, 24, 31, 768, 1024);
      @include rubber (letter-spacing, 3, 3, 768, 1024);

      &:after {
        @include rubber (width, 150, 150, 768, 1024);
      }
    }

    .virtual {
      @include rubber (font-size, 18, 20, 768, 1024);
      @include rubber (line-height, 21, 23, 768, 1024);

      &:nth-child(2n) {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  .explore {
    @include rubber (padding-top, 40, 60, 768, 1024);
    @include rubber (padding-bottom, 40, 60, 768, 1024);
    @include rubber (margin-bottom, 40, 60, 768, 1024);
  }

  .video {
    @include rubber (margin-bottom, 75, 53, 768, 1024);

    .video__items__wrapper {
      @include rubber (margin-bottom, 20, 40, 768, 1024);
    }

    .video__info {
      @include rubber (margin-bottom, 20, 36, 768, 1024);
    }

    .big__play {
      @include rubber (width, 80, 152, 768, 1024);
      @include rubber (height, 80, 152, 768, 1024);
    }
  }

  .gallery {
    @include rubber (padding-top, 40, 60, 768, 1024);
    @include rubber (margin-bottom, 40, 60, 768, 1024);

    .gallery__container {
      @include rubber (height, 1080, 1265, 768, 1024);
    }

    .img__container {
      @include rubber (height, 3224, 1996, 768, 1024);
      @include rubber (column-gap, 24, 36, 768, 1024);
    }

    .section__title {
      @include rubber (margin-bottom, 40, 60, 768, 1024);
    }
  }

  .tickets {
    @include rubber (margin-bottom, 40, 60, 768, 1024);

    .tickets__container {
      grid-template-columns: 79% 21%;
    }

    .tickets__pic {
      @include rubber (width, 444, 700, 768, 1024);
      @include rubber (height, 340, 440, 768, 1024);
    }

    .amount__wrap {
      max-width: 100%;
    }

    .counter__item {
      width: 175px;
    }

    .amount__subtitle {
      text-align: start;
      margin-bottom: 32px;
    }

    .type {
      display: none;
    }

    .amount__name {
      margin-bottom: 10px;
    }

    .senior__name {
      margin-top: 29px;
    }

    .second {
      margin-bottom: 25px;
    }

    .total {
      margin-bottom: 69px;
    }

    .minus__senior,
    .plus__senior {
      top: 40px;
    }
  }

  .parallax {
    @include rubber (height, 300, 400, 768, 1024);
    @include rubber (margin-bottom, 40, 60, 768, 1024);
  }

  .contacts {
    @include rubber (margin-bottom, 66, 62, 768, 1024);

    #map {
      @include rubber (width, 728, 694, 768, 1024);
      @include rubber (height, 476, 454, 768, 1024);
    }

    .title {
      @include rubber (font-size, 20, 24, 768, 1024);
      @include rubber (line-height, 25, 29, 768, 1024);
      margin-bottom: 33px;
    }

    .contact {
      @include rubber (font-size, 18, 20, 768, 1024);
      @include rubber (line-height, 21, 23, 768, 1024);

      &:last-child {
        margin-bottom: 40px;
      }
    }
  }

  .footer {
    @include rubber (padding-top, 55, 65, 768, 1024);

    .footer__wrap {
      @include rubber (padding-bottom, 82, 103, 768, 1024);
    }

    .logo {
      position: relative;
      bottom: 5px;
    }

    .section__left {
      @include rubber (gap, 99, 40, 768, 1024);
    }

    .nav {
      @include rubber (gap, 184, 120, 768, 1024);
    }

    .item__link {
      @include rubber (font-size, 18, 22, 768, 1024);
      @include rubber (line-height, 21, 26, 768, 1024);
    }

    .line {
      bottom: 122px;
    }
  }
}

@media screen and (max-width: 1023px) {
  .video {
    .iframe__slider .slick-track {
      @include rubber (height, 199, 250, 768, 1023);
      gap: 0;
    }

    .iframe__slider .slick-slide {
      max-width: 100%;
      margin: 0 10px;
    }

    .iframe {
      @include rubber (height, 199, 250, 768, 1023);
    }
  }
}

@media screen and (max-width: 980px) {
  .gallery {
    .gallery__img {
      max-width: calc(50% - 12px);
    }
  }

  .contacts {
    .contacts__wrap {
      flex-direction: column;
    }

    #map {
      align-self: center;
    }
  }

  .footer {
    .footer__wrap {
      flex-direction: column;
      gap: 49px;
    }

    .socials {
      @include rubber (margin-left, 298, 630, 768, 1024);
    }
  }

  .booking__modal {
    top: 0;
    max-width: 590px;
    height: 100%;
    overflow-y: scroll;
    padding: 82px 18px 40px 31px;
    margin-bottom: 50px;

    .modal__wrap {
      flex-direction: column;
      gap: 51px;
    }

    .subtitle {
      padding-bottom: 14px;
      margin-bottom: 39px;

      &:after {
        max-width: 530px;
      }
    }

    .input__container {
      justify-content: inherit;
      gap: 28px;
    }

    .input {
      max-width: 530px;
      width: 100%;
      padding-left: 43px;
    }

    .time__container,
    .date__container {
      max-width: 250px;
      width: 100%;
    }

    .arrow__icon__date,
    .arrow__icon__time {
      right: 5%;
    }

    .date,
    .time {
      max-width: 250px;
      width: 100%;
    }

    .logo {
      left: 2.5%;
    }

    .date__logo,
    .time__logo {
      left: 5%;
    }

    .select {
      max-width: 530px;
      width: 100%;
    }

    .select__item {
      width: 100%;
      left: 2px;
    }

    .ticket__form {
      box-sizing: border-box;
      max-width: 530px;
    }

    .entry__title {
      &:after {
        max-width: 500px;
      }
    }

    .minus {
      right: 14%;
    }

    .right__container {
      padding: 25px 14px;
    }

    .ticket__pic {
      right: 14px;
    }

    .senior {
      &:after {
        max-width: 500px;
      }
    }

    .card {
      margin-bottom: 54px;
    }

    .total__wrap {
      margin-bottom: 15px;
    }

    .card__reverse {
      right: 14px;
    }

    .close {
      right: 18px;
    }
  }
}