@media screen and (max-width: 1500px) {
  .video {
    .iframe__slider .slick-slide {
      @include rubber (width, 300, 452, 1024, 1500);
    }

    .iframe {
      @include rubber (height, 170, 254, 1024, 1500);
    }
  }
}

@media screen and (max-width: 1440px) {
  .welcome {
    @include rubber (margin-bottom, 60, 75, 1024, 1440);

    .welcome__info {
      @include rubber (padding-top, 50, 150, 1024, 1440);
    }

    .welcome__title {
      @include rubber (font-size, 50, 80, 1024, 1440);
    }

    .subtitle {
      @include rubber (font-size, 24, 28, 1024, 1440);
      @include rubber (line-height, 28, 33, 1024, 1440);
      margin-bottom: 50px;
    }

    .button__link {
      @include rubber (font-size, 20, 22, 1024, 1440);
      @include rubber (padding-top, 17, 24, 1024, 1440);
      @include rubber (padding-bottom, 17, 24, 1024, 1440);
      @include rubber (padding-right, 45, 68, 1024, 1440);
      @include rubber (padding-left, 45, 68, 1024, 1440);
      @include rubber (margin-bottom, 192, 272, 1024, 1440);
    }

    .slider__wrap {
      @include rubber (max-width, 700, 1000, 1024, 1440);
    }

    .slick-slide {
      @include rubber (width, 700, 1000, 1024, 1440);
      @include rubber (height, 525, 750, 1024, 1440);
    }

    .slick-dots button {
      @include rubber (width, 12, 16, 1024, 1440);
      @include rubber (height, 12, 16, 1024, 1440);
    }

    .shadow {
      @include rubber (height, 525, 750, 1024, 1440);
    }

    .slider__menu {
      @include rubber (padding-left, 224, 75, 1024, 1440);
      @include rubber (gap, 43, 57, 1024, 1440);
    }
  }

  .section__title {
    @include rubber (font-size, 50, 80, 1024, 1440);
    @include rubber (line-height, 75, 90, 1024, 1440);
    @include rubber (padding-bottom, 20, 25, 1024, 1440);
    @include rubber (margin-bottom, 60, 75, 1024, 1440);
  }

  .visiting {
    @include rubber (margin-bottom, 60, 75, 1024, 1440);

    .cards {
      @include rubber (grid-row-gap, 60, 72, 1024, 1440);
      @include rubber (grid-column-gap, 108, 60, 1024, 1440);
      grid-template-columns: repeat(auto-fit, calc(330px + (440 - 330) * ((100vw - 1024px) / (1440 - 1024))));
    }

    .card__img {
      margin-bottom: 24px;
    }

    .card__title {
      @include rubber (font-size, 28, 32, 1024, 1440);
      @include rubber (line-height, 31, 35, 1024, 1440);
      @include rubber (letter-spacing, 3, 5, 1024, 1440);

      &:after {
        @include rubber (width, 150, 300, 1024, 1440);
      }
    }

    .virtual {
      @include rubber (font-size, 20, 22, 1024, 1440);
      @include rubber (line-height, 23, 26, 1024, 1440);

      &:nth-child(2n) {
        @include rubber (font-size, 16, 18, 1024, 1440);
        @include rubber (line-height, 19, 21, 1024, 1440);
      }
    }
  }

  .explore {
    @include rubber (padding-top, 60, 75, 1024, 1440);
    @include rubber (padding-bottom, 60, 75, 1024, 1440);
    @include rubber (margin-bottom, 60, 75, 1024, 1440);

    .explore__wrap {
      padding-bottom: 700px;
    }

    .explore__info {
      max-width: 100%;
    }

    .text {
      @include rubber (font-size, 20, 22, 1024, 1440);
      margin-bottom: 0;

      &:nth-child(2) {
        margin-bottom: 62px;
      }
    }

    .third__text {
      display: none;
    }

    .slider__wrap {
      top: 100%;
      left: 50%;
      transform: translate(-50%, -100%);
    }
  }

  .video {
    @include rubber (margin-bottom, 53, 67, 1024, 1440);

    .subtitle {
      display: none;
    }

    .video__info {
      @include rubber (margin-bottom, 36, 75, 1024, 1440);
    }

    .big__play {
      @include rubber (width, 152, 220, 1024, 1440);
      @include rubber (height, 152, 220, 1024, 1440);
      background-size: cover;
    }

    .video__controls {
      @include rubber (height, 61, 85, 1024, 1440);
      justify-content: space-evenly;
    }

    .progress__line {
      @include rubber (width, 564, 929, 1024, 1440);
    }

    .volume__bar {
      @include rubber (width, 143, 155, 1024, 1440);
    }

    input[type=range]::-webkit-slider-runnable-track {
      height: 5px;
    }

    input[type=range]::-webkit-slider-thumb {
      width: 13px;
      height: 13px;
    }

    .fullscreen {
      @include rubber (width, 26, 36, 1024, 1440);
      @include rubber (height, 26, 36, 1024, 1440);
      background-size: cover;
      margin-right: 7px;
    }

    .volume {
      @include rubber (width, 26, 36, 1024, 1440);
      @include rubber (height, 20, 30, 1024, 1440);
      background-size: cover;
    }
  }

  .gallery {
    @include rubber (padding-top, 60, 75, 1024, 1440);
    @include rubber (margin-bottom, 60, 75, 1024, 1440);

    .gallery__container {
      @include rubber (height, 1265, 1958, 1024, 1440);
    }

    .img__container {
      @include rubber (height, 1996, 2970, 1024, 1440);
      column-gap: 32px;
    }

    .section__title {
      @include rubber (margin-bottom, 60, 75, 1024, 1440);
    }
  }

  .tickets {
    @include rubber (margin-bottom, 60, 75, 1024, 1440);
  }

  .contacts {
    @include rubber (margin-bottom, 62, 72, 1024, 1440);

    #map {
      @include rubber (width, 694, 960, 1024, 1440);
      @include rubber (height, 454, 620, 1024, 1440);
    }

    .title {
      @include rubber (font-size, 24, 28, 1024, 1440);
      @include rubber (line-height, 29, 33, 1024, 1440);
      margin-bottom: 35px;
    }

    .contact {
      @include rubber (font-size, 20, 22, 1024, 1440);
      @include rubber (line-height, 23, 26, 1024, 1440);
      margin-bottom: 15px;
    }
  }

  .parallax {
    @include rubber (margin-bottom, 60, 75, 1024, 1440);
  }

  .footer {
    @include rubber (padding-top, 65, 84, 1024, 1440);

    .section__left {
      @include rubber (gap, 40, 140, 1024, 1440);
    }

    .nav {
      @include rubber (gap, 120, 173, 1024, 1440);
    }
  }

  .booking__modal {
    @include rubber (padding-top, 75, 91, 1024, 1440);
    @include rubber (padding-bottom, 30, 91, 1024, 1440);

    .close {
      right: 20px;
    }
  }

}