.video {
  margin-bottom: 67px;

  .video__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 75px;
  }

  .section__title {
    margin: 0;
    padding: 0;

    &:after {
      display: none;
    }
  }

  .subtitle {
    margin: 0;
    max-width: 720px;
    width: 100%;

    @include roboto (22px, 300, 38.5px);
    letter-spacing: 0.1px;
  }

  .video__items__wrapper {
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;
  }

  .video__item {
    max-height: 735px;
    object-fit: cover;
    cursor: pointer;
  }

  .video__item__fullscreen {
    max-height: none;
    height: 100vh;
  }

  .button {
    background-color: transparent;
    border: none;
  }

  .big__play {
    position: absolute;
    top: 44%;
    left: 50%;
    background-image: url('./common/img/svg/big-play.svg');
    width: 220px;
    height: 220px;
    z-index: 1000;
    transform: translate(-50%, -50%);
  }

  .video__controls {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;

    width: 100%;
    height: 85px;
    background-color: $color-dark;
  }

  .play,
  .volume,
  .fullscreen {
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      filter: invert(70%) sepia(13%) saturate(14%) hue-rotate(342deg) brightness(86%) contrast(81%);
    }
  }

  .play {
    background-image: url('./common/img/svg/play.svg');
    width: 23px;
    height: 30px;
  }

  .progress__line {
    max-width: 929px;
    width: 100%;

    cursor: pointer;
    background: linear-gradient(to right, rgb(113, 7, 7) 0%, rgb(113, 7, 7) 0%, rgb(196, 196, 196) 0%, rgb(196, 196, 196) 100%);

    -webkit-appearance: none;
    appearance: none;
  }

  .volume {
    background-image: url('./common/img/svg/volume.svg');
    width: 36px;
    height: 30px;
  }

  .volume__bar {
    max-width: 155px;
    width: 100%;

    cursor: pointer;
    background: linear-gradient(to right, rgb(113, 7, 7) 0%, rgb(113, 7, 7) 50%, rgb(196, 196, 196) 50%, rgb(196, 196, 196) 100%);

    -webkit-appearance: none;
    appearance: none;
  }

  .fullscreen {
    background-image: url('./common/img/svg/fullscreen.svg');
    width: 36px;
    height: 36px;
  }

  input[type=range]::-webkit-slider-runnable-track {
    height: 8px;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: -3px 0 0 -2px;
  }

  .iframe__slider {
    overflow: hidden;
  }

  .slick-track {
    display: flex;
    max-height: 735px;
  }

  .slick-slide {
    width: 1440px;
  }

  .iframe__slider .slick-slide {
    max-width: 452px;
    width: 100%;
  }

  .iframe__slider .slick-track {
    display: flex;
    margin-bottom: 20px;
    gap: 42px;
  }

  .iframe {
    border: 0px;
  }

  .slick-dots li {
    list-style: none;
    width: 32px;
    height: 25px;
    text-align: center;
    cursor: pointer;
  }

  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 0;
  }

  .slick-dots button {
    width: 12px;
    height: 12px;

    font-size: 0;
    border: none;
    border-radius: 50%;
    background-color: #999999;
    transition: 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: $color-red;
    }
  }

  .slick-dots li.slick-active button {
    background-color: #333333;
  }

  .slider__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
  }

  .video__prev,
  .video__next {
    padding: 0;

    color: #999999;
    background-color: transparent;
    font-size: 30px;
    font-weight: 900;
    border: none;
    cursor: pointer;

    &:hover {
      color: $color-red;
    }
  }
}