.welcome {
  margin-bottom: 75px;

  background-color: $color-dark;
  color: #FFFFFF;

  .welcome__wrap {
    position: relative;
  }

  .welcome__info {
    position: relative;
    max-width: 598px;
    padding-top: 150px;
    z-index: 2;
  }

  .title {
    margin: 0 0 25px;

    @include forum (80px, 400, 90px);
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .subtitle {
    margin: 0 0 75px;

    @include roboto (28px, 300, 33px);
    letter-spacing: 2px;
  }

  .button {
    @include roboto (22px, 300, 27px);
    letter-spacing: 2px;

    margin-bottom: 272px;
    padding: 24px 68px;

    border: none;
    border-radius: 10px;
    background-color: $color-red;
    cursor: pointer;

    transition: 0.5s ease;

    &:hover {
      background-color: $color-gold;
    }
  }

  .button__link {
    color: #FFFFFF;
  }

  .slider__wrap {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 1000px;
  }

  .shadow {
    max-width: 350px;
    width: 100%;
    height: 750px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.50) 16.19%, rgba(0, 0, 0, 0.00) 30.73%);
  }

  .slick-list {
    overflow: hidden;
  }

  .slick-track {
    display: flex;
    overflow: hidden;
  }

  .slick-dots {
    display: flex;
    gap: 25px;
    align-items: center;

    padding: 0;
    margin: 0;
  }

  .slick-dots li {
    list-style: none;
  }

  .slick-dots button {
    width: 16px;
    height: 16px;

    font-size: 0;

    cursor: pointer;

    border: none;
    background-color: #FFFFFF;
    transition: 0.3s ease;

    &:hover {
      background-color: #D2B183;
    }
  }

  .slick-dots li.slick-active button {
    background-color: #D2B183;
  }

  .prev,
  .next {
    font-size: 30px;
    color: #FFFFFF;

    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      color: $color-gold;
    }
  }

  .prev {
    margin-right: 20px;
  }

  .slider__menu {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

    max-width: 600px;
    max-height: 120px;
    padding: 40px 75px;

    background-color: $color-dark;
  }

  .counter {
    @include roboto (22px, 400, 40px);
    display: flex;
    gap: 22px;
  }

  .first {
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 135%;
      transform: translateY(-50%);
      width: 2px;
      height: 18px;

      background-color: #FFFFFF;
    }
  }
}