@mixin forum ($fs, $fw, $lh) {
  font-family: 'Forum';
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin roboto ($fs, $fw, $lh) {
  font-family: 'Roboto';
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin rubber($param,
  $minSize,
  $maxSize,
  $minWindowWidth,
  $maxWindowWidth,
) {
  #{$param}: calc((#{$minSize + 'px'}) + ($maxSize - $minSize) * (100vw - (#{$minWindowWidth + 'px'})) / ($maxWindowWidth - $minWindowWidth));
}